<div class="how-to-set-up">
	<div class="container">

	<div class="htsu-content">
		<div class="pd_name" style="text-align: center">Congratulation: You are registered as a Guide!</div>
		<div class="htsu-heading2">
		  <%= link_to 'You can visit your guide profile here', current_user.guide.link %>
		</div>		
		<br/>
		If you would like to change anything, you can always do it at your <a href="/guide/edit">guide profile settings</a>. If you feel like  fine tuning it, you should read our <a href="/how_to_set_up_your_guide_profile">guidelines</a>.
		<div class="htsu-heading3">Do you have any question?</div>
		If you have any questions, please visit our <a href="http://support.socialsightseeing.com" target="_blank">help and faq</a> section, and always feel free to write us!
		<div class="htsu-heading3">Do you have any request?</div>			
		Social Sightseeing is still in beta mode, which means it still being refined. If you find anything, that you think should be corrected, please <a href="http://support.socialsightseeing.com" target="_blank">write us!</a>		
		<div class="clearfix"></div>				
	</div>
	
	<%= render 'navigation' %>
	
	<div class="clearfix"></div>
	</div>
</div>	