<div class="how-to-set-up">
	<div class="container">

	<div class="htsu-content">
		<div class="pd_name"> How to set up your profile on Social Sightseeing</div>
		<div class="htsu-padding">
			<a name="step1"></a>
			<div class="htsu-heading1">1. Basic Information </div>
			As they say, you never get a second chance to make a good first impression. Your profile is what people immediately see, so make sure to use a nice photo of yourself. Don't worry if you aren't one of those people with blindingly white toothpaste smiles - just ask yourself "would you trust this person if you were a stranger in a foreign town?" when you're looking at the photo. 
			<br/><br/>
			Think of what describes your offer in a nutshell: One line to tell the world what you offer and why people should get together with you. Are you a fountain of knowledge? A great cook who'll be happy to feed guests at home? Someone who always knows the coolest bars in town? Here is where you tell people. 
			<a name="step2"></a>
			<div class="htsu-heading1">2. Your Profile </div>
			Give visitors of your profile a better idea about you and fill this information in: 
			<br/><br/>
			<strong>Spoken Languages:</strong> List the languages you do and at what level (native speaker, fluent, good, basic). Be honest here: Having picked up a few words of French during a vacation in Normandy fifteen years ago does not count as basic French. If you don't think you can communicate at least on a basic level with someone who doesn't speak your native language, don't list the language.
			<br/><br/>
			<strong>Interests:</strong> list some interests, so you'll be contacted by people who share your interests. If you love to talk about the ancient treasures in your town, you don't want to meet a traveler who just wants to hit the shopping malls. If your idea of a perfect weekend is to party till dawn, you don't want to meet people who want to see every ancient statue and fountain in town and go to bed at nine. 
			<br/><br/>
			<strong>Offer Price:</strong> If you want to meet travelers out of curiosity and the goodness of your heart, we're fine with you listing your price as 0.00. However, we understand that time is money and that you don't want to rely on your grateful guest to buy you a drink after a three-hour walk around town. So feel free to set a price for your time (per hour). You can still agree on different rates with the travelers who contact you. 
			<br/><br/>
			<strong>Professional Guide:</strong> If you are a licensed professional guide, please tick this box 
			<br/><br/>
			<strong>Privacy:</strong>  You don't want to deal with hyperactive chatty teenagers or feel lost with elderly people? Fine! Here you can enter the age range of the people you are happy to meet.  You can also decide whether you'd only like to meet males or females. Mind you, this is not dating service. But some females may feel insecure meeting male strangers from abroad while some boys are still convinced that girls give them cooties. 
			<a name="step3"></a>
			<div class="htsu-heading1">3. About you </div>
			Here you can list which kinds of Social Sightseeing you are offering. If you're happy to help from the comfort of your own computer but don't want to actually meet people that are descending on your hometown, tick "Online Sightseeing". If you are keen to show visitors around your lovely area and hang out over coffee, but don't want to spend hours online explaining the confusing metro system of your town, tick "Coffee Sightseeing" but not "Online Sightseeing" and so on.  
			<br/><br/>
			If you're a professional guide offering specific (or just general) walking tours, you can also list your fee here.
			<a name="step4"></a>
			<div class="htsu-heading1">4. Verification  </div>
			Social Sightseeing involves trust on both sides. We help to build trust by verifying our members' identities, for example by checking them out on Facebook and calling their phone number to make sure they are valid. This way you can be sure that everyone on our pages is really who they claim to be.  
			<a name="step5"></a>
			<div class="htsu-heading1">5. Detailed Introduction  </div>
			Here is where you sell yourself. Tell people a bit about you and what you can do for them. Don't write novels though - attention spans are limited on the internet. You could write that you are a huge history geek who will be able to tell sightseers all about the medieval churches in town and about that pretty castle on the outskirts or that you are a foodie who will take guests to the famous farmers' markets and introduce them to the best restaurants in town. Tell sportive people that you are happy to take guests on a long bike tour through the scenic hills nearby -and that you have a spare bike for them. If you offer your help online through Skype or Instant Messenger, let people know what hours you are available - your future friend from the other side of the world will otherwise contact you in the middle of the night when it's morning for him. 
			<a name="step6"></a>
			<div class="htsu-heading1">6. Reviews  </div>
			We said it before: Social Sightseeing relies on trust. Positive reviews from people who met you will help your credibility online. It also means you have to behave around your guests unless you want the whole internet to know that you tried to drunkenly hit on that beautiful lady traveler or abandoned your visitors in some grotty quarter when it started to rain. The upside: Your fabulous cookies may soon enjoy worldwide fame and you will be praised for the smart person you secretly always knew you were. 
		</div>
	</div>
	
	<%= render 'navigation' %>
	
	<div class="clearfix"></div>
	</div>
</div>