<div class="how-it-works">
	<div class="container">

	<div class="hiw-content">
		
		<div class="pd_name"> Social Sightseeing: The 21st century way of travelling</div>
		<br/>
		Do you hate being shepherded through boring museums and churches on an organized tour? Do you hate the smoothly oiled machinery of modern mass tourism that never lets you look behind the pretty facade of your destination? Are you tired of the countless scams you encounter in tourist destinations because you weren't aware of the local pitfalls? 
		<br/><br/>
		Then we have something for you: Social Sightseeing, the 21st century way of travelling. Don't be a lost sheep abroad anymore when you travel! Watch our 1 minute video - and you'll know everything you need!

		<a style="margin: 40px auto; display: block;" href="http://fast.wistia.net/embed/iframe/nr581xjjr9?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=450&videoWidth=800&volumeControl=true" class="wistia-popover[height=450,width=800]">
		<img src="assets/video2.png" alt="How Social Sightseeing works" />
		</a>
		<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>	
		
		<div class="htsu-heading1">Types of Social Sightseeing</div>
		<br/><br/>
		<div class="hiw-content-img"><img src="assets/icon_online3.png" alt="Online Sightseeing" /></div>
		<div class="hiw-content-text">
		<div class="hiw-content-head">Online Sightseeing</div>
		The whole world is just a mouse click away. Online Sightseeing is the first step on every journey:  Contact friendly people in your chosen destination to have a chat about their place, ask all the questions you have and let them give you useful advice on what to do and see - and what tourist traps to avoid. 
		</div><div class="clearfix"></div>
		
		<br/><br/>
		<div class="hiw-content-text">
		<div class="hiw-content-head">Coffee Sightseeing</div>
		Lonely abroad? Feeling lost in a foreign town? Meet friendly locals for a cup of coffee, a cold beer or a meal to gain valuable insights into the country you're visiting, ask the questions you have burning on your soul and make new friends wherever you go! 
		</div>
		<div class="hiw-content-img"><img src="assets/icon_coffee.png" alt="Coffee Sightseeing" /></div>
		<div class="clearfix"></div>
		
		<br/><br/>
		<div class="hiw-content-img"><img src="assets/icon_sporty.png" alt="Sporty Sightseeing" /></div>
		<div class="hiw-content-text">
		<div class="hiw-content-head">Sporty Sightseeing</div>
		Want to explore the scenic countryside, but don't dare to venture out on your own? Find a local, who'll lend you his spare bike and go on a tour together or join locals in your chosen destination on their favorite running tracks by the river or in the park - it's always more fun in a group! 
		</div><div class="clearfix"></div>
		
		<br/><br/>
		<div class="hiw-content-text">
		<div class="hiw-content-head">Social Sightseeing</div>
		There's no need to wander through the streets of a foreign town alone - Social Sightseeing lets you meet friendly locals who will show you the sights, reveal the hidden gems of their city and take you along to the best restaurants and bars off the beaten track! 
		</div>
		<div class="hiw-content-img"><img src="assets/icon_social2.png" alt="Social Sightseeing" /></div>
		<div class="clearfix"></div>
		
	
	</div>
	
	<%= render 'navigation' %>
	
	
	<div class="clearfix"></div>
	</div>
</div>