<div class="how-to-set-up">
	<div class="container">

	<div class="htsu-content">
		<div class="pd_name">Terms of Use</div>
		This web page represents a legal document that serves as our Terms of Use and it governs the legal terms of our website, http://www.socialsightseeing.com, sub-domains, and any associated web-based and mobile applications (collectively, "Website"), as owned and operated by Social Sightseeing. <br/><br/>
		Capitalized terms, unless otherwise defined, have the meaning specified within the Definitions section below. This Terms of Use, along with our Privacy Policy, any mobile license agreement, and other posted guidelines within our Website, collectively "Legal Terms", constitute the entire and only agreement between you and Social Sightseeing, and supersede all other agreements, representations, warranties and understandings with respect to our Website and the subject matter contained herein. We may amend our Legal Terms at any time without specific notice to you. The latest copies of our Legal Terms will be posted on our Website, and you should review all Legal Terms prior to using our Website. After any revisions to our Legal Terms are posted, you agree to be bound to any such changes to them. Therefore, it is important for you to periodically review our Legal Terms to make sure you still agree to them.<br/><br/>
		By using our Website, you agree to fully comply with and be bound by our Legal Terms. Please review them carefully. If you do not accept our Legal Terms, do not access and use our Website. If you have already accessed our Website and do not accept our Legal Terms, you should immediately discontinue use of our Website.<br/>
		The last update to our Terms of Use was posted on June 14, 2013.<br/><br/>

		<div class="htsu-heading1">Definitions</div>
		The terms "us" or "we" or "our" refers to Social Sightseeing, the owner of the Website.<br/><br/>
		A "Visitor" is someone who merely browses our Website, but has not registered as Member.<br/><br/>
		A "Member" is an individual that has registered with us to use our Service.<br/><br/>
		A "Social Guide" is a „Member” who makes an account as a guide on the Website.<br/><br/>
		„Sightseeing” is a service to be provided by a „Social Guide”, who will help other Members show their city or country, or talk about it, or Skype about it, or write about it. <br/><br/>
		Our "Service" represents the collective functionality and features as offered through our Website to our Members.<br/><br/>
		A "User" is a collective identifier that refers to either a Visitor or a Member.<br/><br/>
		All text, information, graphics, audio, video, and data offered through our Website are collectively known as our "Content".<br/><br/>

		<div class="htsu-heading1">Legal Compliance</div>
		You agree to comply with all applicable domestic and international laws, statutes, ordinances, and regulations regarding your use of our Website. Social Sightseeing reserves the right to investigate complaints or reported violations of our Legal Terms and to take any action we deem appropriate, including but not limited to canceling your Member account, reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any information necessary or appropriate to such persons or entities relating to your profile, email addresses, usage history, posted materials, IP addresses and traffic information, as allowed under our Privacy Policy.<br/><br/>
		
		<div class="htsu-heading1">Terms applicable to all users: </div>
		The Website is a searching platform, that enables connecting Users and Social Guides. The Website does not take part in the interaction between Users and Social Guides and therefore is not responsible for any loss or damage incurred by any User arising out of or in consequence of using the Site including but not limited to any interaction between Users and Social Guides or any activity which Users and Social Guides participates in. <br/><br/>
		
		<div class="htsu-heading1">Terms applicable to Social Guides:</div>
		Every Social Guide is prohibited from the following conducts;<br/><br/>

		1. Inappropriate Contents and Repeated Advertisement:  Posting content that is not appropriate, or registering himself/herself more than one as a Social Guide.<br/><br/>

		2. Adult Contents<br/><br/>
		 (a) Posting adult content or explicit adult material; <br/>
		 (b) Posting, anywhere on the Website, obscene or lewd and lascivious graphics or photographs which depict genitalia or actual or simulated sexual acts, as determined in the sole discretion of SocialSightseeing.com;<br/>
		 (c) Posting any solicitation directly or indirectly for any illegal service exchanging sexual favors for money or other valuable consideration;<br/>
		 (d) Posting any material on the Site that exploits minors in any way; or<br/>
		 (e) Posting any material on the Site that in any way constitutes or assists in human trafficking.<br/><br/>

		3. Posting any content, which is prohibited by any law or regulation
		<div class="htsu-heading1">Eligibility:</div>
		Every User must be 18 or over in order to be a User of this Website. Any Social Guide's account is void where prohibited. By using and/or viewing this site, User represents and warrants that User has the right, authority, and capacity to enter into this Agreement and to abide by all of its terms and conditions, that User is at least 18 years old, and that User is not prohibited by law from using the Website. 

		<div class="htsu-heading1">Intellectual Property</div>
		Our Website may contain our service marks or trademarks as well as those of our affiliates or other companies, in the form of words, graphics, and logos. Your use of our Website does not constitute any right or license for you to use such service marks/trademarks, without the prior written permission of the corresponding service mark/trademark owner. Our Website is also protected under international copyright laws. The copying, redistribution, use or publication by you of any portion of our Website is strictly prohibited. Your use of our Website does not grant you ownership rights of any kind in our Website.

		<div class="htsu-heading1">Links to Other Websites</div>
		Our Website may contain links to third party websites. These links are provided solely as a convenience to you. By linking to these websites, we do not create or have an affiliation with, or sponsor such third party websites. The inclusion of links within our Website does not constitute any endorsement, guarantee, warranty, or recommendation of such third party websites. Social Sightseeing has no control over the legal documents and privacy practices of third party websites; as such, you access any such third party websites at your own risk.

		<div class="htsu-heading1">Disclaimer of Warranties for Site:</div>
		USER EXPRESSLY AGREES THAT USE OF THE WEBSITE IS AT USER'S OWN RISK. THE WEBSITE SHALL NOT BE RESPONSIBLE FOR ANY CONTENT FOUND ON SOCIAL GUIDE'S PROFILES. THE WEBSITE EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. THE WEBSITE MAKES NO WARRANTY THAT ITS POSTINGS OR USE OF THE WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, WITHOUT DEFECT OR ERROR FREE. THE WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.<br/><br/>

		USER ACKNOWLEDGES AND AGREES THAT ANY MATERIAL, AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEBSITE IS DONE AT USER'S OWN DISCRETION AND RISK AND THAT USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGES TO USER'S COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.<br/><br/>

		SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO USER. <br/><br/>
		
		<div class="htsu-heading1">Limitation of Liability:</div>
		The information, services and products available to User on this Website may contain errors and are subject to periods of interruption. The Site cannot be held responsible for any errors, defects, lost profits or other consequential damages arising from the use or interrupted use of the Site. <br/><br/>

		IN NO EVENT SHALL THE WEBSITE OR ITS AFFILIATES, OWNERS, AGENTS, DIRECTORS, OFFICERS, EMPLOYEES, REPRESENTATIVES, SPONSORS, SUPPLIERS, OR PARTNERS (COLLECTIVELY "INDEMNIFIED PARTIES") BE LIABLE TO USER OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, PUNITIVE, SPECIAL, EXEMPLARY DAMAGES, OR ANY DAMAGES WHATSOEVER, ARISING FROM OR IN ANY WAY CONNECTED OR RELATING TO (i) THE USE OF (OR INABILITY TO USE), OR PERFORMANCE OF THIS WEBSITE, (ii) ANY INFORMATION, SERVICES OR PRODUCTS PROVIDED THROUGH THIS SITE, OR (iii) ANY INTERACTION BETWEEN USER AND OTHER PARTICIPANTS OF THE WEBSITE, EVEN IF ANY OF THE INDEMNIFIED PARTIES HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. USER ACCEPTS ALL RESPONSIBILITY FOR, AND HEREBY AGREES TO INDEMNIFY AND HOLD HARMLESS THE INDEMNIFIED PARTIES FROM AND AGAINST, ANY ACTIONS TAKEN BY USER, INCLUDING WITHOUT LIMITATION, DISCLOSURE OF PASSWORDS TO THIRD PARTIES. BY USING THE WEBSITE, USER AGREES TO DEFEND, INDEMNIFY AND HOLD HARMLESS THE INDEMNIFIED PARTIES FROM ANY AND ALL LIABILITY REGARDING USER'S USE OF THE WEBSITE OR PARTICIPATION IN ANY WEBSITE'S ACTIVITIES.<br/><br/>

		IF USER IS DISSATISFIED WITH THE WEBSITE, OR ANY PORTION THEREOF, OR DO NOT AGREE WITH THESE TERMS, USER'S ONLY RECOURSE AND EXCLUSIVE REMEDY SHALL BE TO STOP USING THE WEBSITE.<br/><br/>

		User waives any rights User may have under any law to the effect that general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor. <br/><br/>

		<div class="htsu-heading1">General Terms</div>
		Our Legal Terms shall be treated as though it were executed and performed in Hungary, and shall be governed by and construed in accordance with the laws of Hungary, without regard to conflict of law principles. In addition, you agree to submit to the personal jurisdiction and venue of such courts. Any cause of action by you with respect to our Website, must be instituted within one (1) year after the cause of action arose or be forever waived and barred. Should any part of our Legal Terms be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions shall remain in full force and effect. To the extent that any Content in our Website conflicts or is inconsistent with our Legal Terms, our Legal Terms shall take precedence. Our failure to enforce any provision of our Legal Terms shall not be deemed a waiver of such provision nor of the right to enforce such provision. The rights of Social Sightseeing under our Legal Terms shall survive the termination of our Legal Terms.<br/><br/>

		Published with permission from TermsFeed.com	
	
	</div>
	
	<%= render 'navigation' %>
	
	<div class="clearfix"></div>
	</div>
</div>	