<div class="how-to-set-up">
	<div class="container">

	<div class="htsu-content">

		<div class="htsu-heading2">Why should you join as a social guide?</div>
		<div class="pd_name" style="text-align: center">Meet people from around the world at home</div>

		<br/>
		Do you live in a town that receives visitors from all over the world? Do you wish that travelers would finally discover the hidden beauty of your area? It doesn't matter where you live - big city, small town or countryside: 
		<div class="htsu-heading3">Social Sightseeing gives you the chance to meet people from around the world and welcome them to your area. </div>
		<br/>

		<a style="margin: 0px auto; display: block;" href="http://fast.wistia.net/embed/iframe/nr581xjjr9?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=450&videoWidth=800&volumeControl=true" class="wistia-popover[height=450,width=800]">
		<img src="assets/video2.png" alt="How Social Sightseeing works" />
		</a>
		<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>	


		<div class="htsu-heading1">How does it work?</div>
		Join our site (<strong>it is free</strong>), fill in your profile and tell people what they need to know about you: Your age, your interests and most importantly, what you are offering. <br/><br/>
		If you're eager to actually meet people, choose the option <span class="text-coffee">Coffee Sightseeing</span> and get together with travelers when they arrive in your place. <br/><br/>
		Or offer <span class="text-social">Social Sightseeing</span>, and show them around the sights, take them shopping to really interesting places and introduce them to the best restaurants official guides have not yet picked up on. <br/><br/>
		If you're happy to take visitors on your favorite running track or have a second bike you can lend them, choose <span class="text-sporty">Sporty Sightseeing</span> - many people will love to explore your area by bike with you or join you for other activities. Perhaps your country is known for some particularly quirky sport you love and want foreigners to finally get? Take them to a game! <br/><br/>
		If you're the shy type who would love to make new friends from all over the world but don't want to leave the safety of your room, offer <span class="text-online">Online Sightseeing</span>: Help travelers prepare their trip by answering their questions, explain your complicated public transport system to them or teach them a few useful phrases in your language. People love to get help and advice from savvy locals!<br/><br/>
		Of course you can do everything: Help people online, meet them for a cup of coffee, take them on a walking tour to the sights or on a bike tour through the countryside. You choose how much time you have to spare. <br/><br/>
		And by the way: nobody expects you to offer your time for free. Spending three hours every Sunday afternoon on a long walking tour around the sights of your city or taking guests to the local football stadium even though you know your team is bound to lose will feel far more rewarding when you are actually paid.<br/><br/>
		Your profile allows you to name your price for whatever you offer - whether walking tour, pub crawl or online advice. But if you simply want to make new friends and help for free, you are welcome to offer your time for free, too! <br/><br/>
		<div class="htsu-heading4" style="float: left; display: inline; padding: 25px 0 0 0;">Join now and become part of a new <br/>world-wide community of travelers!</div>
		<div class="fs_joinus" style="float:right;display: inline;">
			<a class="showjoinus sss-button2 blue" href="<%= current_user.present? ? edit_guide_url : "javascript:void(0);"%>">
				Join as a guide
			</a>
		</div>
		<div class="clearfix"></div>		
	</div>	
	<%= render 'navigation' %>	
	<div class="clearfix"></div>
	</div>
</div>	