<div class="how-to-set-up">
	<div class="container">

	<div class="htsu-content">
	
		<div class="htsu-heading2">Are you a professional guide? Then check this out!</div>
		<div class="pd_name" style="text-align: center">Social Sightseeing: A new way to find clients</div>

		<br/>
		Are you a guide offering general sightseeing tours in your home town or specialized walking tours? Do you have a field of expertise that enables you to give visitors special insights into ancient monuments, famous buildings or large museums? 
		<div class="htsu-heading3">Social Sightseeing can help you to find new clients all over the world and boost your income! </div>
		<br/>

		<a style="margin: 0px auto; display: block;" href="http://fast.wistia.net/embed/iframe/nr581xjjr9?autoPlay=true&controlsVisibleOnLoad=true&popover=true&version=v1&videoHeight=450&videoWidth=800&volumeControl=true" class="wistia-popover[height=450,width=800]">
		<img src="assets/video2.png" alt="How Social Sightseeing works" />
		</a>
		<script charset="ISO-8859-1" src="http://fast.wistia.com/static/popover-v1.js"></script>	


		<div class="htsu-heading1">How does it work?</div>
		These days most people use the internet to plan their travels in advance. They look up tourist information, public transport options, hotels, hidden gems, recommended restaurants and current events when they go. But beyond all the pretty websites they find it hard to meet actual people from their chosen destination and find a trusty reliable guide. <br/><br/>
		Social Sightseeing is a new platform aimed at bringing travelers from all over the world together to exchange information and meet up in person. You, too, can create a profile on Social Sightseeing and offer your services as a professional guide in your town. Being part of a large online community with photo, information and feedback from satisfied clients will improve your chances of being found by travelers and actually being hired. <br/><br/>
		Your profile allows you to state in detail what you offer, which languages you speak and how much you charge for your service.  Interested travelers will contact you through our website, so you can negotiate the details and close the deal. <br/><br/>
 
		<div class="htsu-heading4" style="float: left; display: inline; padding: 25px 0 0 0;">It's an easy way to become an ambassador <br/>of your country and find new custom from<br/> all over the world - join now, it is free!</div>
		<div class="fs_joinus" style="float:right;display: inline;">
			<a class="showjoinus sss-button2 blue" href="<%= current_user.present? ? edit_guide_url : "javascript:void(0);"%>">
			Join as a guide
			</a>
		</div>
		<div class="clearfix"></div>		
						
		
	</div>
	
	<%= render 'navigation' %>
	
	<div class="clearfix"></div>
	</div>
</div>	