<div>
  <p>
    <strong>Introduction:</strong>
    <span><%=guide.long_introduction%></span>
  </p>
  <p>
    <strong>Languages:</strong>
    <span><%=guide.languages.map {|l| l.name}.join ','%></span>
  </p>
  <p>
    <strong>How we can travel:</strong>
    <span>Public transport</span>
  </p>
</div>
<div class="popover-row">
  <div>
    <strong>I can show you the best...</strong>
    <ul>
      <li>Tourist attractions</li>
      <li>Food places</li>
      <li>Wine places</li>
      <li>Bars</li>
      <li>Fitness clubs</li>
      <li>Strip clubs</li>
    </ul>
  </div>
  <div>
    <strong>Or we can do together...</strong>
    <ul>
      <li>Sightseeing</li>
      <li>Visiting museums</li>
      <li>Party time!</li>
      <li>Jogging</li>
      <li>Going to gym</li>
      <li>Business talk</li>
    </ul>
  </div>
</div>